DIY_NR_AlarmSystem.txt
[{"id":"d17162e0.024ba","type":"rpi-gpio in","z":"88767832.528588","name":"","pin":"12","intype":"down","debounce":"200","read":false,"x":140,"y":1180,"wires":[["eaa7c199.460e1"]]},{"id":"920bf0e5.9c751","type":"chatbot-telegram-receive","z":"88767832.528588","bot":"","botProduction":"","x":110,"y":160,"wires":[["2835145e.9c738c","1e6870b5.83376f"]]},{"id":"fbc93b71.6b4868","type":"switch","z":"88767832.528588","name":"0 or 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":930,"y":1080,"wires":[["a83d20f6.1aa3a"],["74bd79eb.b578c8"]]},{"id":"29150282.86e68e","type":"chatbot-telegram-send","z":"88767832.528588","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1770,"y":740,"wires":[]},{"id":"a83d20f6.1aa3a","type":"chatbot-conversation","z":"88767832.528588","name":"no movement","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":1120,"y":1080,"wires":[["3856a3ca.74d26c","eb39c874.6ad3e8"]]},{"id":"74bd79eb.b578c8","type":"chatbot-conversation","z":"88767832.528588","name":"Movement!","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":1110,"y":1160,"wires":[["2920cb79.d0af74"]]},{"id":"3856a3ca.74d26c","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Last movement was 1min ago!"}],"x":1410,"y":1080,"wires":[["9e326c46.7890c"]]},{"id":"a4d031d0.d2cae","type":"chatbot-inline-buttons","z":"88767832.528588","name":"","buttons":[{"type":"postback","label":"     ON     ","value":"/AlarmOn","answer":"Alarm on","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"OFF","value":"/AlarmOff","answer":"Alarm off","alert":false,"style":"default"},{"type":"newline"},{"type":"postback","label":"Turn off for ... hours","value":"/AlarmOffH","answer":"Now tell me:","alert":false,"style":""}],"message":"turn alarm on or off! (Currently: {{Alarm}})","x":940,"y":660,"wires":[["9e326c46.7890c"]]},{"id":"49e41fab.7ba39","type":"chatbot-command","z":"88767832.528588","name":"","command":"/alarm","x":630,"y":660,"wires":[["999b220a.dfeed"]]},{"id":"1a28e9ef.1f3946","type":"chatbot-command","z":"88767832.528588","name":"","command":"/AlarmOn","x":640,"y":380,"wires":[["f98df03a.dbd79"]]},{"id":"fecfd95a.073e18","type":"chatbot-command","z":"88767832.528588","name":"","command":"/AlarmOff","x":640,"y":420,"wires":[["91e35f2d.b1084","eb39c874.6ad3e8","491c9513.b8024c","9da57f05.4e6a"]]},{"id":"f98df03a.dbd79","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":380,"wires":[["c26c167b.f10728"]]},{"id":"91e35f2d.b1084","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 2);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"Alarm\", \"aus\")\nflow.set(\"delay\", \"ja\")\nmsg.payload.chatId = flow.get(\"chatId\")\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":420,"wires":[["eda4eb1e.3d5ad8","b75cfd5a.cc189"]]},{"id":"4bf36da.9e9c794","type":"function","z":"88767832.528588","name":"alarm on?","func":"if (flow.get(\"Alarm\") == \"an\"){\n    return [msg, null];    \n}\nelse return [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":800,"y":1100,"wires":[["fbc93b71.6b4868"],["eb39c874.6ad3e8"]]},{"id":"2920cb79.d0af74","type":"trigger","z":"88767832.528588","name":"every 2min","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-2","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1290,"y":1160,"wires":[["4b916ecc.d179e","99fa1504.8f3f48","dcd58319.c71c9"]]},{"id":"4b916ecc.d179e","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Recognized movement: {{wo}}!"}],"x":1450,"y":1160,"wires":[["9e326c46.7890c"]]},{"id":"eda4eb1e.3d5ad8","type":"chatbot-conversation","z":"88767832.528588","name":"msgOff","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":940,"y":420,"wires":[["3cb64d35.ca8132"]]},{"id":"3cb64d35.ca8132","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm ausgeschaltet :grey_exclamation:"}],"x":1070,"y":420,"wires":[["9e326c46.7890c","ab179dd7.8a7f3"]]},{"id":"eb39c874.6ad3e8","type":"function","z":"88767832.528588","name":"reset","func":"msg.reset = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":1120,"wires":[["2920cb79.d0af74","69ebd580.4ff92c"]]},{"id":"c3da5b8.58586a8","type":"chatbot-command","z":"88767832.528588","name":"","command":"/status","x":630,"y":700,"wires":[["322fb7ab.252418"]]},{"id":"322fb7ab.252418","type":"function","z":"88767832.528588","name":"status","func":"if (flow.get(\"delay\") == \"ja\"){\n    msg.payload.content = \"Alarm is \"+flow.get(\"Alarm\") + \" an will be turned on at \" + flow.get(\"zeitAn\");\n}\nelse if (flow.get(\"delay\") == \"nein\"){\n    msg.payload.content = \"Alarm is \"+flow.get(\"Alarm\");    \n}\n\nelse {\n    msg.payload.content = \"Alarm is \"+flow.get(\"Alarm\");    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":700,"wires":[["98339982.b8c3f8"]]},{"id":"ae881f21.859c5","type":"schedex","z":"88767832.528588","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"21:00","ontopic":"","onpayload":"an","onoffset":0,"onrandomoffset":0,"offtime":"6:50","offtopic":"","offpayload":"aus","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":410,"y":1260,"wires":[["106ac2e3.4c5e8d"]]},{"id":"999b220a.dfeed","type":"function","z":"88767832.528588","name":"buttons","func":"msg.payload.content = \"turn alarm on/off\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":660,"wires":[["a4d031d0.d2cae"]]},{"id":"a28cf52b.9d1a58","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm ist scharf :exclamation:"}],"x":1070,"y":380,"wires":[["9e326c46.7890c","cf75b84a.8a28d8"]]},{"id":"c3c863f1.fb8a8","type":"chatbot-message","z":"88767832.528588","name":"auto active","message":[{"message":"Alarm has been activated :exclamation:"}],"x":950,"y":1240,"wires":[["99509324.a9508"]]},{"id":"106ac2e3.4c5e8d","type":"function","z":"88767832.528588","name":"set Alarm","func":"msg.payload.silent = true;\n\nif (msg.payload == \"an\"){\n    if (flow.get(\"delay\") !== \"ja\"){\n        flow.set(\"Alarm\", \"an\")\n        flow.set(\"delay\", \"nein\")\n        return [msg, null];\n    }\n}\nelse if (msg.payload == \"aus\"){\n        flow.set(\"Alarm\", \"aus\")\n        flow.set(\"delay\", \"nein\")\n        return [null, msg];    \n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":1260,"wires":[["bf75e001.de616"],["b404263b.4a2468"]]},{"id":"a181ace4.a5469","type":"chatbot-message","z":"88767832.528588","name":"auto deactive","message":[{"message":"Alarm has been deactivated :grey_exclamation:"}],"x":950,"y":1280,"wires":[["99509324.a9508"]]},{"id":"2a2c7538.645b5a","type":"chatbot-command","z":"88767832.528588","name":"","command":"/help","x":630,"y":340,"wires":[["c9e37684.d3f198"]]},{"id":"c9e37684.d3f198","type":"chatbot-conversation","z":"88767832.528588","name":"help","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":770,"y":340,"wires":[["d107ec65.c0341"]]},{"id":"d107ec65.c0341","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Hallo meine :high_brightness:\n\n/help - diese Nachricht\n/alarm - Alarm ein/-ausschalten\n/status - Status abfragen\n/reset - Alarmanlage zurücksetzen\n\nDer Alarm wird Mo-Fr jeweils 6:50Uhr ausgeschaltet und um 21Uhr eingeschaltet! Kann aber auch manuell geschaltet werden!"}],"x":1050,"y":340,"wires":[["9e326c46.7890c"]]},{"id":"29df3663.4d624a","type":"comment","z":"88767832.528588","name":"Alarm Mo-Fr at 21PM activated, 6:50AM deactivated","info":"","x":510,"y":1220,"wires":[]},{"id":"f557e61b.292908","type":"comment","z":"88767832.528588","name":"wenn \"Alarm\" = an --> Bei Bewegung Nachricht alle 2min bis keine Bewegung mehr","info":"","x":950,"y":1040,"wires":[]},{"id":"eeb96264.74ff6","type":"chatbot-command","z":"88767832.528588","name":"","command":"/reset","x":630,"y":740,"wires":[["eb39c874.6ad3e8","491c9513.b8024c"]]},{"id":"99fa1504.8f3f48","type":"exec","z":"88767832.528588","command":"raspistill -o image.jpg -n -q 50","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":960,"wires":[["f36acd4b.a01de"],[],[]]},{"id":"cf593770.659de8","type":"fs-ops-move","z":"88767832.528588","name":"","sourcePath":"/home/pi/","sourcePathType":"str","sourceFilename":"image.jpg","sourceFilenameType":"str","destPath":"/home/pi/Bilder/","destPathType":"str","destFilename":"time","destFilenameType":"msg","link":false,"x":1040,"y":960,"wires":[["49b448da.4fe808"]]},{"id":"f36acd4b.a01de","type":"function","z":"88767832.528588","name":"now()","func":"msg.time = new Date().toLocaleString() +\".jpg\";\nflow.set(\"now\", \"/home/pi/Bilder/\"+msg.time);\nflow.set(\"time\", msg.time.slice(0, msg.time.length-4))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":960,"wires":[["cf593770.659de8"]]},{"id":"d30845de.a43b38","type":"chatbot-command","z":"88767832.528588","name":"","command":"/cam","x":630,"y":780,"wires":[["99fa1504.8f3f48","d81b447d.cbe488"]]},{"id":"f670d1ac.2e21a","type":"chatbot-image","z":"88767832.528588","name":"","filename":"","image":"","caption":"{{time}}","x":1210,"y":1000,"wires":[["9e326c46.7890c"]]},{"id":"49b448da.4fe808","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":960,"wires":[["f3ded3fd.95451"]]},{"id":"4dc2a9e4.bf1c18","type":"function","z":"88767832.528588","name":"set filename","func":"msg.payload = flow.get(\"now\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1000,"wires":[["f670d1ac.2e21a"]]},{"id":"7a51208.a03d0e","type":"chatbot-waiting","z":"88767832.528588","waitingType":"upload_photo","x":960,"y":780,"wires":[["9e326c46.7890c"]]},{"id":"abf5682.a6d1498","type":"function","z":"88767832.528588","name":"format string","func":"var string = msg.payload\nmsg.payload = string.slice(7,-2);\nmsg.payload =\"Currently there is about \" + msg.payload + \"GB space available\"\nflow.set(\"space\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":260,"wires":[["a3dbd575.f5bc58"]]},{"id":"f3ded3fd.95451","type":"chatbot-conversation","z":"88767832.528588","name":"group","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":1000,"wires":[["4dc2a9e4.bf1c18"]]},{"id":"eac9c627.65b5d8","type":"chatbot-command","z":"88767832.528588","name":"","command":"/space","x":630,"y":260,"wires":[["87a2763d.de3758"]]},{"id":"a3dbd575.f5bc58","type":"chatbot-message","z":"88767832.528588","name":"space available","message":[{"message":"{{space}}"}],"x":1060,"y":260,"wires":[["9e326c46.7890c"]]},{"id":"67ca425e.49210c","type":"comment","z":"88767832.528588","name":"take picture and save to folder Bilder","info":"","x":640,"y":920,"wires":[]},{"id":"81008a8a.a1fed8","type":"comment","z":"88767832.528588","name":"then send to Telegram group","info":"","x":900,"y":920,"wires":[]},{"id":"d81b447d.cbe488","type":"chatbot-conversation","z":"88767832.528588","name":"chatID","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":810,"y":780,"wires":[["7a51208.a03d0e"]]},{"id":"98339982.b8c3f8","type":"chatbot-conversation","z":"88767832.528588","name":"send status","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":950,"y":700,"wires":[["9e326c46.7890c"]]},{"id":"9e326c46.7890c","type":"chatbot-analytics","z":"88767832.528588","platform":"dashbot","token":"","x":1580,"y":740,"wires":[["29150282.86e68e"]]},{"id":"722ba20.ccb986","type":"chatbot-analytics","z":"88767832.528588","platform":"dashbot","token":"","x":340,"y":440,"wires":[["d30845de.a43b38","eeb96264.74ff6","49e41fab.7ba39","c3da5b8.58586a8","1a28e9ef.1f3946","fecfd95a.073e18","2a2c7538.645b5a","eac9c627.65b5d8","36e7f6a0.9d293a","b562d909.963638","5d25823f.4b39fc","2e930396.7dd14c","6ce28f4c.1084","e7cf5b32.eaf3e8","38a1891.8023276","5bb0061a.2ddff8","843e4a8c.73c538","1ece748.ddbfb8c","1b8cae1e.225dd2"]]},{"id":"87a2763d.de3758","type":"exec","z":"88767832.528588","command":"df -h / --output=avail","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"df","x":750,"y":260,"wires":[["abf5682.a6d1498"],[],[]]},{"id":"c4199089.6e2","type":"mqtt out","z":"88767832.528588","name":"","topic":"studio/sonoffAlarm/cmnd/POWER","qos":"2","retain":"","broker":"","x":1580,"y":1200,"wires":[]},{"id":"dcd58319.c71c9","type":"change","z":"88767832.528588","name":"set payload on","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1200,"wires":[["c4199089.6e2"]]},{"id":"69ebd580.4ff92c","type":"change","z":"88767832.528588","name":"set payload off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1220,"wires":[["c4199089.6e2"]]},{"id":"c4bb552c.f79d08","type":"inject","z":"88767832.528588","name":"MOVEMENT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":810,"y":1180,"wires":[["74bd79eb.b578c8"]]},{"id":"c26c167b.f10728","type":"chatbot-conversation","z":"88767832.528588","name":"msgOn","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":940,"y":380,"wires":[["a28cf52b.9d1a58"]]},{"id":"2835145e.9c738c","type":"function","z":"88767832.528588","name":"save ChatId","func":"flow.set(\"chatId\", msg.originalMessage.from.id)\nflow.set(\"first_name\", msg.originalMessage.from.first_name)\nflow.set(\"last_name\", msg.originalMessage.from.last_name)\nflow.set(\"username\", msg.originalMessage.from.username)\nflow.set(\"input\", msg.payload.content)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":160,"wires":[[]]},{"id":"cf75b84a.8a28d8","type":"function","z":"88767832.528588","name":"prot on ","func":"msg.payload.content = \"Alarm on (\" + flow.get(\"chatId\") + \", \" + flow.get(\"first_name\") + \" \" + flow.get(\"last_name\") + \", @\" + flow.get(\"username\") +\")\";\nmsg.payload.chatId = //set your telegram chatId here\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","x":1660,"y":380,"wires":[["a9b5d29e.40646"]]},{"id":"a9b5d29e.40646","type":"chatbot-telegram-send","z":"88767832.528588","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1930,"y":440,"wires":[]},{"id":"bf75e001.de616","type":"chatbot-conversation","z":"88767832.528588","name":"set chatID ","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":780,"y":1240,"wires":[["c3c863f1.fb8a8"]]},{"id":"b404263b.4a2468","type":"chatbot-conversation","z":"88767832.528588","name":"set chatID","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":780,"y":1280,"wires":[["a181ace4.a5469","491c9513.b8024c"]]},{"id":"99509324.a9508","type":"chatbot-telegram-send","z":"88767832.528588","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1130,"y":1260,"wires":[]},{"id":"e05d519a.3386c","type":"inject","z":"88767832.528588","name":"RESET","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":1140,"wires":[["eb39c874.6ad3e8","91bccfb7.6b475"]]},{"id":"36e7f6a0.9d293a","type":"chatbot-command","z":"88767832.528588","name":"","command":"/AlarmOffH","x":650,"y":620,"wires":[["7d2c1d57.b075e4","9da57f05.4e6a"]]},{"id":"7d2c1d57.b075e4","type":"chatbot-inline-buttons","z":"88767832.528588","name":"","buttons":[{"type":"postback","label":"1","value":"/1","answer":"Alarm off for 1h!","alert":false,"style":""},{"type":"postback","label":"2","value":"/2","answer":"Alarm off for 2h!","alert":false,"style":"default"},{"type":"postback","label":"3","value":"/3","answer":"Alarm off for 3h!","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"5","value":"/5","answer":"Alarm off for 5h!","alert":false,"style":""},{"type":"postback","label":"7","value":"/7","answer":"Alarm off for 7h!","alert":false,"style":""},{"type":"postback","label":"9","value":"/9","answer":"Alarm off for 9h!","alert":false,"style":""}],"message":"Turning alarm off for how many hours?","x":940,"y":620,"wires":[["9e326c46.7890c"]]},{"id":"38a1891.8023276","type":"chatbot-command","z":"88767832.528588","name":"","command":"/1","x":630,"y":20,"wires":[["643d5919.90aee8"]]},{"id":"e7cf5b32.eaf3e8","type":"chatbot-command","z":"88767832.528588","name":"","command":"/2","x":630,"y":60,"wires":[["af3e10fd.14b2a"]]},{"id":"2e930396.7dd14c","type":"chatbot-command","z":"88767832.528588","name":"","command":"/3","x":630,"y":100,"wires":[["130073b0.f3bf7c"]]},{"id":"6ce28f4c.1084","type":"chatbot-command","z":"88767832.528588","name":"","command":"/5","x":630,"y":140,"wires":[["1d3b4142.edbcdf"]]},{"id":"5d25823f.4b39fc","type":"chatbot-command","z":"88767832.528588","name":"","command":"/7","x":630,"y":180,"wires":[["c7441e.f81c9be"]]},{"id":"b562d909.963638","type":"chatbot-command","z":"88767832.528588","name":"","command":"/9","x":630,"y":220,"wires":[["441b06b4.89ff18"]]},{"id":"643d5919.90aee8","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 1);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"delay\", \"ja\")\nflow.set(\"Alarm\", \"aus\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":20,"wires":[["4ea0f2f8.c46e6c"]]},{"id":"af3e10fd.14b2a","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 2);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"delay\", \"ja\")\nflow.set(\"Alarm\", \"aus\")\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":60,"wires":[["f7edde16.8f2d4"]]},{"id":"130073b0.f3bf7c","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 3);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"delay\", \"ja\")\nflow.set(\"Alarm\", \"aus\")\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":100,"wires":[["517a4070.3946e"]]},{"id":"1d3b4142.edbcdf","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 5);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"delay\", \"ja\")\nflow.set(\"Alarm\", \"aus\")\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["66ee2181.8ceb2"]]},{"id":"c7441e.f81c9be","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 7);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"delay\", \"ja\")\nflow.set(\"Alarm\", \"aus\")\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":180,"wires":[["b5e0fd05.332d7"]]},{"id":"441b06b4.89ff18","type":"function","z":"88767832.528588","name":"set Alarm off","func":"var time = new Date();\ntime.setHours(time.getHours() + 9);\nvar hour = time.getHours();\nvar minute = time.getMinutes();\n\nvar nullvorhour = \"\"\nvar nullvorminute =\"\"\n\nif ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n}\nif ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n}\n\nvar zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\nflow.set(\"zeitAn\",  zeit);\n\nflow.set(\"delay\", \"ja\")\nflow.set(\"Alarm\", \"aus\")\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["69c4f681.5566e8"]]},{"id":"14fec8a1.305217","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":20,"wires":[["8226c631.195488"]]},{"id":"d19d8303.1f2d4","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":60,"wires":[["6708c1.5e3d974"]]},{"id":"5db1d82.6a8e228","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":100,"wires":[["19b3b538.cac20b"]]},{"id":"8d51eeb2.a0e23","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":140,"wires":[["eee729ee.784ab8"]]},{"id":"39fb3163.a9112e","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":180,"wires":[["cdb87276.0b72"]]},{"id":"b525d80.e65f828","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":220,"wires":[["d24085d.e960a78"]]},{"id":"4ea0f2f8.c46e6c","type":"chatbot-conversation","z":"88767832.528588","name":"off","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":20,"wires":[["6a2fc626.f568d8"]]},{"id":"6a2fc626.f568d8","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm off for 1h :grey_exclamation:"}],"x":1030,"y":20,"wires":[["9e326c46.7890c","14fec8a1.305217"]]},{"id":"a540da47.20f288","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm off for 2h :grey_exclamation:"}],"x":1030,"y":60,"wires":[["9e326c46.7890c","d19d8303.1f2d4"]]},{"id":"ab978aca.464ad8","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm off for 3h :grey_exclamation:"}],"x":1030,"y":100,"wires":[["9e326c46.7890c","5db1d82.6a8e228"]]},{"id":"cbf8bd8a.93dbc","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm off for 5h :grey_exclamation:"}],"x":1030,"y":140,"wires":[["9e326c46.7890c","8d51eeb2.a0e23"]]},{"id":"78059a31.5d3544","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm off for 7h :grey_exclamation:"}],"x":1030,"y":180,"wires":[["9e326c46.7890c","39fb3163.a9112e"]]},{"id":"e26eaca3.45374","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm off for 9h :grey_exclamation:"}],"x":1030,"y":220,"wires":[["9e326c46.7890c","b525d80.e65f828"]]},{"id":"8226c631.195488","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1750,"y":20,"wires":[[]]},{"id":"6708c1.5e3d974","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":60,"wires":[[]]},{"id":"19b3b538.cac20b","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":100,"wires":[[]]},{"id":"eee729ee.784ab8","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":140,"wires":[[]]},{"id":"cdb87276.0b72","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":180,"wires":[[]]},{"id":"d24085d.e960a78","type":"function","z":"88767832.528588","name":"set Alarm on","func":"flow.set(\"Alarm\", \"an\")\nflow.set(\"delay\", \"nein\")\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":220,"wires":[[]]},{"id":"491c9513.b8024c","type":"function","z":"88767832.528588","name":"reset","func":"flow.set(\"delay\", \"nein\")\nmsg.reset = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":260,"wires":[["b525d80.e65f828","39fb3163.a9112e","8d51eeb2.a0e23","5db1d82.6a8e228","d19d8303.1f2d4","14fec8a1.305217"]]},{"id":"1e6870b5.83376f","type":"switch","z":"88767832.528588","name":"","property":"payload.chatId","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":11,"x":170,"y":440,"wires":[["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["722ba20.ccb986"],["171374a8.436a1b","7dc0bb76.311be4"]]},{"id":"5bb0061a.2ddff8","type":"chatbot-command","z":"88767832.528588","name":"","command":"/ip","x":630,"y":820,"wires":[["93e069a.c367898"]]},{"id":"93e069a.c367898","type":"exec","z":"88767832.528588","command":"curl http://ipecho.net/plain","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":820,"wires":[["1cac429d.282a6d"],[],[]]},{"id":"1cac429d.282a6d","type":"function","z":"88767832.528588","name":"send ip","func":"flow.set(\"ip\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":820,"wires":[["e2a8cdee.925d7"]]},{"id":"e2a8cdee.925d7","type":"chatbot-message","z":"88767832.528588","name":"external ip","message":[{"message":"{{ip}}"}],"x":1210,"y":820,"wires":[["9e326c46.7890c"]]},{"id":"397ed359.c2ba8c","type":"function","z":"88767832.528588","name":"prot no auth","func":"msg.payload.content = '\"' + flow.get(\"input\") + '\"' + \" (\" + flow.get(\"chatId\") + \", \" + flow.get(\"first_name\") + \" \" + flow.get(\"last_name\") + \", @\" + flow.get(\"username\") +\")\";\nmsg.payload.chatId = //set your telegram chatId here\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","x":1670,"y":520,"wires":[["a9b5d29e.40646"]]},{"id":"7dc0bb76.311be4","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"{{msg.payload}}"}],"x":1490,"y":520,"wires":[["397ed359.c2ba8c"]]},{"id":"171374a8.436a1b","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Sorry {{firstName}}, my love! :kissing_heart: Unfortunately you are not authorized...\n\nTo not leave you heartbroken, Bob the bumblebee will come around to say hello in a few seconds!"}],"x":630,"y":860,"wires":[["eaedeb00.913588","9e326c46.7890c"]]},{"id":"eaedeb00.913588","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":880,"wires":[["da890056.84e79"]]},{"id":"1b4b2bce.504a24","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":":bee:     <-- Bob\n\n\"Hello my friend! 🙃\""},{"message":"\"Summ, Summ, Summ\"\n\nBob-->       :bee:"}],"x":1230,"y":880,"wires":[["9e326c46.7890c"]]},{"id":"da890056.84e79","type":"change","z":"88767832.528588","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":880,"wires":[["1b4b2bce.504a24"]]},{"id":"843e4a8c.73c538","type":"chatbot-command","z":"88767832.528588","name":"","command":"/start","x":630,"y":300,"wires":[["c9e37684.d3f198"]]},{"id":"ab179dd7.8a7f3","type":"function","z":"88767832.528588","name":"prot off ","func":"msg.payload.content = \"Alarm off (\" + flow.get(\"chatId\") + \", \" + flow.get(\"first_name\") + \" \" + flow.get(\"last_name\") + \", @\" + flow.get(\"username\") +\")\";\nmsg.payload.chatId = //set your telegram chatId here\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","x":1650,"y":420,"wires":[["a9b5d29e.40646"]]},{"id":"82e3d84f.f43fc8","type":"mqtt in","z":"88767832.528588","name":"","topic":"presence/Mitte","qos":"2","datatype":"auto","broker":"","x":160,"y":1100,"wires":[["a065a966.d5ae48"]]},{"id":"95048833.bc1d48","type":"mqtt in","z":"88767832.528588","name":"","topic":"presence/Vorne","qos":"2","datatype":"auto","broker":"","x":160,"y":1060,"wires":[["865a2123.f49af"]]},{"id":"865a2123.f49af","type":"function","z":"88767832.528588","name":"Front","func":"if (msg.payload ===\"1\"){\n    flow.set(\"wo\", \"Vorne\")\n    msg.topic = \"pir_vorne\"\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1060,"wires":[["91bccfb7.6b475"]]},{"id":"a065a966.d5ae48","type":"function","z":"88767832.528588","name":"Middle","func":"if (msg.payload ===\"1\"){\n    flow.set(\"wo\", \"Mitte\")\n    msg.topic = \"pir_mitte\"\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1100,"wires":[["91bccfb7.6b475"]]},{"id":"eaa7c199.460e1","type":"function","z":"88767832.528588","name":"Back","func":"flow.set(\"wo\", \"Hinten\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1180,"wires":[["4bf36da.9e9c794"]]},{"id":"91bccfb7.6b475","type":"trigger","z":"88767832.528588","name":"1min","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"min","reset":"","bytopic":"topic","outputs":1,"x":670,"y":1080,"wires":[["4bf36da.9e9c794"]]},{"id":"f8ef5307.efd1b","type":"mqtt in","z":"88767832.528588","name":"","topic":"tele/SonoffBridge/TuerAlarm","qos":"2","datatype":"auto","broker":"","x":200,"y":1020,"wires":[["c6fea3c6.1d189"]]},{"id":"dce3e96b.839ea8","type":"function","z":"88767832.528588","name":"Door","func":"    if (msg.payload.RfReceived.Data == \"95A60A\") {\n            msg.payload = \"1\"\n            flow.set(\"wo\", \"Tür\")\n            msg.topic = \"open_tuer\"\n        return msg;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":1020,"wires":[["91bccfb7.6b475"]]},{"id":"c6fea3c6.1d189","type":"json","z":"88767832.528588","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1020,"wires":[["dce3e96b.839ea8"]]},{"id":"b75cfd5a.cc189","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":460,"wires":[["4c2bd07b.c7406"]]},{"id":"4c2bd07b.c7406","type":"chatbot-inline-buttons","z":"88767832.528588","name":"","buttons":[{"type":"postback","label":"Yes, leave it off!","value":"/present","answer":"","alert":false,"style":""},{"type":"postback","label":"No, turn it on!","value":"/notPresent","answer":"","alert":false,"style":""}],"message":"Alarm will be activated in 20min! Are you still here?","x":840,"y":460,"wires":[["c1bf0fd0.7790b","9e326c46.7890c"]]},{"id":"de6c78cb.31f648","type":"function","z":"88767832.528588","name":"still there?","func":"if (msg.payload.content == \"/present\") {\n    \n    var time = new Date();\n    time.setHours(time.getHours() + 2);\n    var hour = time.getHours();\n    var minute = time.getMinutes();\n\n    var nullvorhour = \"\"\n    var nullvorminute =\"\"\n\n    if ((time.getHours()+1) < 10){\n        nullvorhour = \"0\"\n    }\n    if ((time.getMinutes+1) < 10){\n        nullvorminute = \"0\"\n    }\n\n    var zeit = nullvorhour + hour + \":\" + minute + nullvorminute;\n    flow.set(\"zeitAn\",  zeit);\n    \n    msg.payload.content = \"Alright, I will leave the alarm off for now\"\n    flow.set(\"delay\", \"ja\")\n    node.send([null, null, msg, null])\n    msg.reset =\"reset\"\n    return [msg, null, null, null]\n}\nelse if (msg.payload.content == \"/notPresent\") {\n    msg.payload.content = \"No problem, alarm is now turned on!\"\n    flow.set(\"delay\", \"nein\")\n    flow.set(\"Alarm\", \"an\")\n    msg.reset =\"reset\"\n    return [null, msg, null, null]\n}\nelse {\n    msg.payload.content = \"NO idea what you mean, time for alarm activation is/was: \" + flow.get(\"zeitAn\")\n    flow.set(\"delay\", \"nein\")\n    return [null, null, null, msg]\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":830,"y":560,"wires":[["9e326c46.7890c","c1bf0fd0.7790b"],["9e326c46.7890c","cf75b84a.8a28d8","c1bf0fd0.7790b","491c9513.b8024c"],["b75cfd5a.cc189"],["9e326c46.7890c"]]},{"id":"c1bf0fd0.7790b","type":"delay","z":"88767832.528588","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":460,"wires":[["1a28e9ef.1f3946","4043d85.1a4e628"]]},{"id":"9da57f05.4e6a","type":"function","z":"88767832.528588","name":"reset","func":"msg.reset = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["91bccfb7.6b475"]]},{"id":"f7edde16.8f2d4","type":"chatbot-conversation","z":"88767832.528588","name":"off","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":60,"wires":[["a540da47.20f288"]]},{"id":"517a4070.3946e","type":"chatbot-conversation","z":"88767832.528588","name":"off","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":100,"wires":[["ab978aca.464ad8"]]},{"id":"66ee2181.8ceb2","type":"chatbot-conversation","z":"88767832.528588","name":"off","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":140,"wires":[["cbf8bd8a.93dbc"]]},{"id":"b5e0fd05.332d7","type":"chatbot-conversation","z":"88767832.528588","name":"off","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":180,"wires":[["78059a31.5d3544"]]},{"id":"69c4f681.5566e8","type":"chatbot-conversation","z":"88767832.528588","name":"off","botDevelopment":"905aacbd.adbcc","botProduction":"905aacbd.adbcc","chatId":"","userId":"","transport":"telegram","store":"","x":910,"y":220,"wires":[["e26eaca3.45374"]]},{"id":"8ad80a37.0a6758","type":"comment","z":"88767832.528588","name":"connect to PIR sensors (ESP8266) via mqtt","info":"","x":240,"y":980,"wires":[]},{"id":"1fe60b85.542674","type":"comment","z":"88767832.528588","name":"set pin on RPI if PIR sensor is directly connected to it","info":"","x":270,"y":1140,"wires":[]},{"id":"ea0e08d.500e6f8","type":"comment","z":"88767832.528588","name":"how to use switch node (click me)","info":"Put the chatIDs of authorized users into the switch node!\n\nTo get your chatID, simply connect a debug node directly to the Telegram receiver node and set it to \"Output: full msg-object\". Then send your Connected bot a message and check the debug (works in groups too, chatID of a group always starts with a \"-\" dash)\n\nThe last exit of the node will be used for unauthorized users.\nYou can set the node to have as many exits as authorized users you need.","x":290,"y":320,"wires":[]},{"id":"1b8cae1e.225dd2","type":"chatbot-command","z":"88767832.528588","name":"","command":"/notPresent","x":650,"y":540,"wires":[["de6c78cb.31f648"]]},{"id":"1ece748.ddbfb8c","type":"chatbot-command","z":"88767832.528588","name":"","command":"/present","x":640,"y":580,"wires":[["de6c78cb.31f648"]]},{"id":"4043d85.1a4e628","type":"chatbot-message","z":"88767832.528588","name":"","message":[{"message":"Alarm ist scharf :exclamation:"}],"x":1230,"y":540,"wires":[["9e326c46.7890c"]]}]
